/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.navbar {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/*********************************************/
.navbar-brand {
	color: #23ba23;
	font-weight: bold;
	font-size: 30px;
}

h3 {
	font-weight: bold;
	border-bottom: 2px solid #eee;
}

h2 {
	color: #23ba23;
	font-weight: bold;
	border-bottom: 2px solid #eee;
}

h2 a {
	color: #23ba23;
	font-weight: bold;
}

.table th, .table td { 
     border-top: none !important; 
 }

#sidebar a {
    font-size: 1.5em;
}

.abstract {
	/* border-style: groove;
	padding: 10px 10px 10px 10px;*/
	padding-left: 10px;
}

.btn-group-xs>.btn, .btn-xs {
	transition: all .5s;
}

.btn:hover, .btn:active, .btn.active, .btn:visited, .open > .dropdown-toggle.btn-primary {
  background: #0095eb !important;
  color: #fff;
}